{% extends "employee/base.html" %}

{% block body %}
<div class="row">
  <div class="offset-lg-2 col-lg-8" id="createnew" style="display:none;">
    <div class="alert alert-info">
      <h3 class="closer">&times;</h3>
      <h3 class="text-center">Enter New Employee Info</h3>
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-form-label col-lg-2" for="usr">Name:</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="usr" placeholder="Enter Full Name">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-lg-2" for="email">Email:</label>
          <div class="col-lg-10">
            <input type="email" class="form-control" id="email" placeholder="Enter Email">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-lg-2" for="pwd">Password:</label>
          <div class="col-lg-10"> 
            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-4 col-4">
            <button type="button" class="btn btn-info btn-lg btn-block">Submit</button>
          </div>
        </div>
      </form>
    </div><!--/alert-->
  </div>
</div>


<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8">
  <h2 class="text-center">Employee Login</h2>
    <form class="form-horizontal">
      <div class="form-group row">
        <label class="col-form-label col-lg-2" for="usr">Name:</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="usr" placeholder="Enter Full Name">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-lg-2" for="pwd">Password:</label>
        <div class="col-lg-10"> 
          <input type="password" class="form-control" id="pwd" placeholder="Enter password">
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-4 col-4">
          <button type="button" class="btn btn-info btn-lg btn-block">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="text-center">
  <a href="#" id="newbutton">Create New Employee</a>
</div>

<script>
$(document).ready(function(){
    $("#newbutton").click(function(){
        $("#createnew").toggle();
    });

    $('.closer').click(function() {
        $('#createnew').hide();
    });
});

</script>
{% endblock %}