<!doctype html>
<html lang="en">
  <head>
    <title>Admin Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/calendarStyle.css' %}" type = "text/css"/>

  </head>
  <body>

    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark bg-info">
        <a class="navbar-brand" href="#">
          <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">
          SBASW
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Change Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
          </ul>
          <span class="navbar-text text-white">
            Administrator: <!--{{ employee.name }}-->
          </span>
        </div>
      </nav>
      <br>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="card" style="max-height: 480px; overflow-y:scroll;">
            <div class="card-header">
              <h4 class="text-center">Viewer</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                <strong>Name:</strong>Variable Name<br>
                <strong>Phone:</strong>Variable Phone<br>
                <strong>Email:</strong>Variable Email<br>
              </p>
              <p>
                <div class="text-center"><strong><u>Notes</u></strong></div>
                Variable Notes
              </p>
              <div class="offset-xl-3 offset-lg-2 offset-sm-1">
                <a href="#" class="btn btn-info btn-primary">Delete Appointment</a>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-md-8 col-sm-12 no_padding">
          <div class="container alt-grid">
          <h5 class="text-center">Variable Month</h5>
          <div class="row">
            <div class="col-3 no_padding">
              <div class="row">
                <div class="col no_padding">
                </div>
                <div class="col no_padding">
                  <div class="text-center">Sun</div>
                </div>
              </div>
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col no_padding">
                  <div class="text-center">Mon</div>
                </div>
                <div class="col no_padding">
                  <div class="text-center">Tues</div>
                </div>
                <div class="col no_padding">
                  <div class="text-center">Wed</div>
                </div>
                <div class="col no_padding">
                  <div class="text-center">Thur</div>
                </div>
                <div class="col no_padding">
                  <div class="text-center">Fri</div>
                </div>
                <div class="col no_padding">
                  <div class="text-center">Sat</div>
                </div>
              </div>
            </div>
          </div>
          <div class="-info" style="max-height: 400px; overflow-y:scroll;">
            <div class="row">
              <div class="col-3 no_padding">
                <div class="row">
                  <div class="col no_padding">
                    <ul class="timeline">
                      <li style="height:29px;"><span><!--{{ employee.starttime }}--> </span></li>
                      <!--{% for employee in object_list %}-->
                        <li><span></span></li>
                      <!--{% endfor %}-->
                      <li><span>8:30</span></li>
                      <li><span>9:00</span></li>
                      <li><span>9:30</span></li>
                      <li><span>10:00</span></li>
                      <li><span>10:30</span></li>
                      <li><span>11:00</span></li>
                      <li><span>11:30</span></li>
                      <li><span>12:00</span></li>
                      <li><span>12:30</span></li>
                      <li><span>13:00</span></li>
                      <li><span>13:30</span></li>
                      <li><span>14:00</span></li>
                      <li><span>14:30</span></li>
                      <li><span>15:00</span></li>
                      <li><span>15:30</span></li>
                      <li><span>16:00</span></li>
                      <li><span>16:30</span></li>
                      <li><span>17:00</span></li>
                      <li><span>17:30</span></li>
                      <li><span>18:00</span></li>
                    </ul>
                  </div>
                  <div class="col no_padding">
                    <div class="text-center">
                      <div class="appointment">
                        <p>Michael Wiltbank</p>
                      </div>
                      <table class="calendar_grid">
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-9">
                <div class="row">
                  <div class="col no_padding">
                    <div class="text-center">
                      <div class="unavailable">
                        <p>Unavailable</p>
                      </div>
                      <table class="calendar_grid">
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col no_padding">
                    <div class="text-center">
                      <div class="unavailable">
                        <p>Unavailable</p>
                      </div>
                      <table class="calendar_grid">
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col no_padding">
                    <div class="text-center">
                      <table class="calendar_grid">
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col no_padding">
                    <div class="text-center">
                      <table class="calendar_grid">
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col no_padding">
                    <div class="text-center">
                      <table class="calendar_grid">
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="col no_padding">
                    <div class="text-center">
                      <table class="calendar_grid">
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                        <tr class="blank_row">
                          <td></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="offset-xl-5 offset-lg-4 offset-sm-3">
            <a href="#" class="btn btn-info btn-primary">Schedule Appointment</a>
          </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row clearfix">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Appointment Types</h3>
            </div>
            <div class="panel-body">
              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">Appointment Name</th>
                    <th scope="col">Appointment Duration</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Women's Haircut</td>
                    <td>1 Hour</td>
                  </tr>
                  <tr>
                    <td>Men's Haircut</td>
                    <td>45 Minutes</td>
                  </tr>
                  <tr>
                    <td>Hair Coloring and Haircut</td>
                    <td>2 Hours</td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-info btn-sm btn-block">Edit Appointment Type</button>
            </div>
          </div>
        </div> 
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Availability</h3>
            </div>
            <div class="panel-body">
              <div class="media">
                <div class="media-body">
                  <div class="row">
                    <div class="col-3">
                      <strong>Available days</strong><br>
                      <form>
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="Sunday" checked>
                          Sunday
                        </label>
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="Monday" checked>
                          Monday
                        </label>
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="Tuesday" checked>
                          Tuesday
                        </label>
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="Wednesday" checked>
                          Wednesday
                        </label>
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="Thursday" checked>
                          Thursday
                        </label>
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="Friday" checked>
                          Friday
                        </label>
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="Saturday" checked>
                          Saturday
                        </label>
                      </form>
                    </div>
                    <div class="col-9">
                      <div class="text-left">
                        <div class="row">
                          <div class="col-6">
                            <strong>Open:</strong>8:00AM<br>
                          </div>
                          <div class="col-6">
                            <strong>Close:</strong>5:00PM<br>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-2"></div>
                          <div class="col-8">
                            <button type="button" class="btn btn-info btn-sm btn-block">Edit Open/Close</button><br>
                          </div>
                        </div>
                        <strong><u>Daily Unavailabe Times</u></strong><br>
                        Variable Name<br>
                        <div class="row">
                          <div class="col-2"></div>
                          <div class="col-8">
                            <button type="button" class="btn btn-info btn-sm btn-block">Add Daily</button><br>
                          </div>
                        </div>
                        <strong><u>Custom Unavailable Times</u></strong><br>
                        Variable Name<br>
                        <div class="row">
                          <div class="col-2"></div>
                          <div class="col-8">
                            <button type="button" class="btn btn-info btn-sm btn-block">Add Custom</button><br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- /row -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /row -->      
    </div> <!-- /container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>