{% extends "employee/base.html" %}

{% block body %}
<div class="row">
	<div class="col-lg-4">
	  <div class="card" style="max-height: 480px; overflow-y:scroll;">
	    <div class="card-header">
	      <h4 class="text-center">Viewer</h4>
	    </div>
	    <div class="card-body">
	      <p class="card-text">
	        <strong>Name:</strong> <span id="customerName"></span><br>
	        <strong>Phone:</strong> <span id="customerPhone"></span><br>
	        <strong>Email:</strong> <span id="customerEmail"></span><br>
	      </p>
	      <p>
	        <div class="text-center"><strong><u>Notes</u></strong></div>
	        <span id="customerDetails"></span>
	      </p>
	      <div class="offset-xl-3 offset-lg-2 offset-4">
	      	<button type="button" class="btn btn-info btn-primary" data-toggle="modal" data-target="#confirmDelete">
		      Delete Appointment
		    </button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- The Modal -->
	<div class="modal fade" id="confirmDelete">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    
	      <!-- Modal Header -->
	      <div class="modal-header">
	        <h4 class="modal-title">Confirm Delete</h4>
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	      </div>
	      
	      <!-- Modal body -->
	      <div class="modal-body">
	      	<h5 class="text-center"> Delete appointment for <strong><span id="viewerSelectName"><i>None Selected</i></span></strong>?</h5>
	      	<form method="post">
	        {% csrf_token %}
	        <div id="deleteForm">
	          <input type="hidden" name="form-type" value="appointmentDelete" />
	          <input type="hidden" name="date" value="" />
	          <input type="hidden" name="email" value="" />
	        </div>
	      </div>  

	      <!-- Modal footer --> 
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-info">Commit</button>
	      </div>
	      </form> 
	    </div>
	  </div>
	</div>

	<!-- Calendar View -->
	<div class="col-lg-8 no_padding">
	  <div class="container alt-grid">
      <a href="{% url 'Tools' weekstart=days.0|date:'Y-m-d' %}"><h2 style="float:left"><</h2></a>
      <a href="{% url 'Tools' weekstart=days.8|date:'Y-m-d' %}"><h2 style="float:right">></h2></a>
	  <h4 class="text-center">{{ days.4|date:"F"}}</h4>
	  <div class="row">
	    <div class="col-3 no_padding">
	      <div class="row">
	        <div class="col no_padding">
	        </div>
	        <div class="col no_padding">
	          <div class="text-center">{{ days.1|date:"D d" }}</div>
	        </div>
	      </div>
	    </div>
	    <div class="col-9">
	      <div class="row">
	        <div class="col no_padding">
	          <div class="text-center">{{ days.2|date:"D d" }}</div>
	        </div>
	        <div class="col no_padding">
	          <div class="text-center">{{ days.3|date:"D d" }}</div>
	        </div>
	        <div class="col no_padding">
	          <div class="text-center">{{ days.4|date:"D d" }}</div>
	        </div>
	        <div class="col no_padding">
	          <div class="text-center">{{ days.5|date:"D d" }}</div>
	        </div>
	        <div class="col no_padding">
	          <div class="text-center">{{ days.6|date:"D d" }}</div>
	        </div>
	        <div class="col no_padding">
	          <div class="text-center">{{ days.7|date:"D d" }}</div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="fullGrid" style="max-height: 400px; overflow-y:scroll;">
	    <div class="row">
	        <div class="col-3 no_padding">
	          <div class="row">
	            <div class="col no_padding">
	              <ul class="timeline">
	                <li style="height:29px;"></li>
	                {% for i in times%}
	                <li>
	                  <td>{{ i|time:"g:i" }}</td>
	                </li>
	                {% endfor %}
	              </ul>
	            </div>
	            <div class="col no_padding">
	              <div class="text-center">
	                {% for x in sun %}
	                  <div class="appointment" style="margin-top: {{ x.aBegin }}px; height: {{  x.duration }}px;">
	                    <p>{{x.name}}</p>
	       			    <input type="hidden" name="data-name" value="{{ x.name }}" />
	       			    <input type="hidden" name="data-phone" value="{{ x.phone }}" />
	       			    <input type="hidden" name="data-email" value="{{ x.email }}" />
	       			    <input type="hidden" name="data-details" value="{{ x.details }}" />
	       			    <input type="hidden" name="data-date" value="{{ x.date|date:'Y-m-d' }}" />
	                  </div>
	                {% endfor %}
	                <table class="calendar_grid">
	                  {% for i in "x"|ljust:grid %}
	                    <tr class="blank_row">
	                      <td></td>
	                    </tr>
	                  {% endfor %}
	                </table>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="col-9">
	          <div class="row">
	            <div class="col no_padding">
	              <div class="text-center">
	                {% for x in mon %}
	                  <div class="appointment" style="margin-top: {{ x.aBegin }}px; height: {{  x.duration }}px;">
	                    <p>{{x.name}}</p>
	       			    <input type="hidden" name="data-name" value="{{ x.name }}" />
	       			    <input type="hidden" name="data-phone" value="{{ x.phone }}" />
	       			    <input type="hidden" name="data-email" value="{{ x.email }}" />
	       			    <input type="hidden" name="data-details" value="{{ x.details }}" />
	       			    <input type="hidden" name="data-date" value="{{ x.date|date:'Y-m-d' }}" />
	                  </div>
	                {% endfor %}
	                <table class="calendar_grid">
	                  {% for i in "x"|ljust:grid %}
	                    <tr class="blank_row">
	                      <td></td>
	                    </tr>
	                  {% endfor %}
	                </table>
	              </div>
	            </div>
	            <div class="col no_padding">
	              <div class="text-center">
	                {% for x in tue %}
	                  <div class="appointment" style="margin-top: {{ x.aBegin }}px; height: {{  x.duration }}px;">
	                    <p>{{x.name}}</p>
	       			    <input type="hidden" name="data-name" value="{{ x.name }}" />
	       			    <input type="hidden" name="data-phone" value="{{ x.phone }}" />
	       			    <input type="hidden" name="data-email" value="{{ x.email }}" />
	       			    <input type="hidden" name="data-details" value="{{ x.details }}" />
	       			    <input type="hidden" name="data-date" value="{{ x.date|date:'Y-m-d' }}" />
	                  </div>
	                {% endfor %}
	                <table class="calendar_grid">
	                  {% for i in "x"|ljust:grid %}
	                    <tr class="blank_row">
	                      <td></td>
	                    </tr>
	                  {% endfor %}
	                </table>
	              </div>
	            </div>
	            <div class="col no_padding">
	              <div class="text-center">
	                {% for x in wed %}
	                  <div class="appointment" style="margin-top: {{ x.aBegin }}px; height: {{  x.duration }}px;">
	                    <p>{{x.name}}</p>
	       			    <input type="hidden" name="data-name" value="{{ x.name }}" />
	       			    <input type="hidden" name="data-phone" value="{{ x.phone }}" />
	       			    <input type="hidden" name="data-email" value="{{ x.email }}" />
	       			    <input type="hidden" name="data-details" value="{{ x.details }}" />
	       			    <input type="hidden" name="data-date" value="{{ x.date|date:'Y-m-d' }}" />
	                  </div>
	                {% endfor %}
	                <table class="calendar_grid">
	                  {% for i in "x"|ljust:grid %}
	                    <tr class="blank_row">
	                      <td></td>
	                    </tr>
	                  {% endfor %}
	                </table>
	              </div>
	            </div>
	            <div class="col no_padding">
	              <div class="text-center">
	                {% for x in thur %}
	                  <div class="appointment" style="margin-top: {{ x.aBegin }}px; height: {{  x.duration }}px;">
	                    <p>{{x.name}}</p>
	       			    <input type="hidden" name="data-name" value="{{ x.name }}" />
	       			    <input type="hidden" name="data-phone" value="{{ x.phone }}" />
	       			    <input type="hidden" name="data-email" value="{{ x.email }}" />
	       			    <input type="hidden" name="data-details" value="{{ x.details }}" />
	       			    <input type="hidden" name="data-date" value="{{ x.date|date:'Y-m-d' }}" />
	                  </div>
	                {% endfor %}
	                <table class="calendar_grid">
	                  {% for i in "x"|ljust:grid %}
	                    <tr class="blank_row">
	                      <td></td>
	                    </tr>
	                  {% endfor %}
	                </table>
	              </div>
	            </div>
	            <div class="col no_padding">
	              <div class="text-center">
	                {% for x in fri %}
	                  <div class="appointment" style="margin-top: {{ x.aBegin }}px; height: {{  x.duration }}px;">
	                    <p>{{x.name}}</p>
	       			    <input type="hidden" name="data-name" value="{{ x.name }}" />
	       			    <input type="hidden" name="data-phone" value="{{ x.phone }}" />
	       			    <input type="hidden" name="data-email" value="{{ x.email }}" />
	       			    <input type="hidden" name="data-details" value="{{ x.details }}" />
	       			    <input type="hidden" name="data-date" value="{{ x.date|date:'Y-m-d' }}" />
	                  </div>
	                {% endfor %}
	                <table class="calendar_grid">
	                  {% for i in "x"|ljust:grid %}
	                    <tr class="blank_row">
	                      <td></td>
	                    </tr>
	                  {% endfor %}
	                </table>
	              </div>
	            </div>
	            <div class="col no_padding">
	              <div class="text-center">
	                {% for x in sat %}
	                  <div class="appointment" style="margin-top: {{ x.aBegin }}px; height: {{  x.duration }}px;">
	                    <p>{{x.name}}</p>
	       			    <input type="hidden" name="data-name" value="{{ x.name }}" />
	       			    <input type="hidden" name="data-phone" value="{{ x.phone }}" />
	       			    <input type="hidden" name="data-email" value="{{ x.email }}" />
	       			    <input type="hidden" name="data-details" value="{{ x.details }}" />
	       			    <input type="hidden" name="data-date" value="{{ x.date|date:'Y-m-d' }}" />
	                  </div>
	                {% endfor %}
	                <table class="calendar_grid">
	                  {% for i in "x"|ljust:grid %}
	                    <tr class="blank_row">
	                      <td></td>
	                    </tr>
	                  {% endfor %}
	                </table>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	  </div>
	  <div class="offset-xl-5 offset-lg-4 offset-5">
	    <a href="{% url 'Get Type' id=user.employees.id %}" class="btn btn-info btn-primary">Schedule Appointment</a>
	  </div>
	  </div>
	</div>
</div> <!-- /row -->
<br>
<div class="row">
	<div class="col-lg-6">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h3 class="panel-title text-center">Appointment Types</h3>
	    </div>
	    <div class="panel-body">
	      <table class="table table-striped table-dark">
	        <thead>
	          <tr>
	            <th scope="col">Appointment Name</th>
	            <th scope="col">Appointment Duration</th>
	          </tr>
	        </thead>
	        <tbody>
	          {% for type in types %}
	            <tr>
	              <td>{{ type.name }}</td>
	            {% if type.duration == 40 %}  
	              <td>30 Minutes</td>
	            {% elif type.duration == 80 %}  
	              <td>1 Hour</td>
	            {% elif type.duration == 120 %}   
	              <td>1 Hour 30 Min</td>
	            {% elif type.duration == 160 %}   
	              <td>2 Hours</td>
	            {% elif type.duration == 200 %}   
	              <td>2 Hours 30 Min</td>
	            {% elif type.duration == 240 %}   
	              <td>3 Hours</td>
	            {% endif %}
	            </tr>
	          {% endfor %}
	        </tbody>
	      </table>
	      <button type="button" class="btn btn-info btn-sm btn-block" data-toggle="modal" data-target="#apointmentTypes">
	      	Edit Appointment Types
	      </button>
	    </div>
	  </div><br><br>
	</div>

	<!-- Appointment Types Modal -->
	<div class="modal fade" id="apointmentTypes">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    
	      <!-- Modal Header -->
	      <div class="modal-header">
	        <h4 class="modal-title">Edit Appointment Types</h4>
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	      </div>
	      
	      <!-- Modal body -->
		  <div class="modal-body">
		  	<table class="table table-striped table-dark">
		        <thead>
		          <tr>
		            <th scope="col">Name</th>
		            <th scope="col">Duration</th>
		            <th scope="col">Delete?
		          </tr>
		        </thead>
		        <tbody>
		          {% for type in types %}
		            <tr>
		              <td>{{ type.name }}</td>
		            {% if type.duration == 40 %}  
		              <td>30 Minutes</td>
		            {% elif type.duration == 80 %}  
		              <td>1 Hour</td>
		            {% elif type.duration == 120 %}   
		              <td>1 Hour 30 Min</td>
		            {% elif type.duration == 160 %}   
		              <td>2 Hours</td>
		            {% elif type.duration == 200 %}   
		              <td>2 Hours 30 Min</td>
		            {% elif type.duration == 240 %}   
		              <td>3 Hours</td>
		            {% endif %}
		              <td><button type="button">&times;</button></td>
		            </tr>
		          {% endfor %}
		        </tbody>
		      </table>

			  <form class="form-horizontal">
			    <div class="form-group row">
			      <label class="col-form-label col-lg-2" for="usr">Name:</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="usr" placeholder="Appointment Name">
			      </div>
			    </div>
			    <label class="radio-inline" style="margin-left: 45px; margin-right: 40px;">
			      <input type="radio" name="optradio"> 30 Minutes
			    </label>
			    <label class="radio-inline" style="margin-right: 40px">
			      <input type="radio" name="optradio"> 1 Hour
			    </label>
			    <label class="radio-inline" style="margin-right: 40px">
			      <input type="radio" name="optradio"> 1 1/2 Hours
			    </label><br>
			    <label class="radio-inline" style="margin-left: 45px; margin-right: 45px;">
			      <input type="radio" name="optradio"> 2 Hours
			    </label>
			    <label class="radio-inline" style="margin-right: 45px">
			      <input type="radio" name="optradio"> 2 1/2 Hours
			    </label>
			    <label class="radio-inline">
			      <input type="radio" name="optradio"> 3 Hours
			    </label>
			    <div class="form-group row">
			      <div class="offset-4 col-4">
			        <button type="button" class="btn btn-info btn-lg btn-block">Add New</button>
			      </div>
			    </div>
			  </form>
		  </div>

	      <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>   
	    </div>
	  </div>
	</div>

	<div class="col-lg-6">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h3 class="panel-title text-center">Availability</h3>
	    </div>
	    <div class="panel-body">
	      <div class="media">
	        <div class="media-body">
	          <div class="row">
	            <div class="col-3">
	              <strong>Available days</strong><br>
	              <form>
	                <label class="form-check-label">
	                  <input class="form-check-input" type="checkbox" value="Sunday" checked>
	                  Sunday
	                </label>
	                <label class="form-check-label">
	                  <input class="form-check-input" type="checkbox" value="Monday" checked>
	                  Monday
	                </label>
	                <label class="form-check-label">
	                  <input class="form-check-input" type="checkbox" value="Tuesday" checked>
	                  Tuesday
	                </label>
	                <label class="form-check-label">
	                  <input class="form-check-input" type="checkbox" value="Wednesday" checked>
	                  Wednesday
	                </label>
	                <label class="form-check-label">
	                  <input class="form-check-input" type="checkbox" value="Thursday" checked>
	                  Thursday
	                </label>
	                <label class="form-check-label">
	                  <input class="form-check-input" type="checkbox" value="Friday" checked>
	                  Friday
	                </label>
	                <label class="form-check-label">
	                  <input class="form-check-input" type="checkbox" value="Saturday" checked>
	                  Saturday
	                </label>
	              </form>
	            </div>
	            <div class="col-9">
	              <div class="text-left">
	                <div class="row">
	                  <div class="col-6">
	                    <strong>Open:</strong>{{ user.employees.starttime }}<br>
	                  </div>
	                  <div class="col-6">
	                    <strong>Close:</strong>{{ user.employees.endtime }}<br>
	                  </div>
	                </div>
	                <div class="row">
	                  <div class="col-2"></div>
	                  <div class="col-8">
	                    <button type="button" class="btn btn-info btn-sm btn-block" data-toggle="modal" data-target="#openCloseTimes">Edit Open/Close</button><br>
	                  </div>
	                </div>
	                <strong><u>Daily Unavailabe Times</u></strong><br>
	                <i>None</i><br>
	                <div class="row">
	                  <div class="col-2"></div>
	                  <div class="col-8">
	                    <button type="button" class="btn btn-info btn-sm btn-block" data-toggle="modal" data-target="#dailyUnavailable">Add Daily</button><br>
	                  </div>
	                </div>
	                <strong><u>Custom Unavailable Times</u></strong><br>
	                <i>None</i><br>
	                <div class="row">
	                  <div class="col-2"></div>
	                  <div class="col-8">
	                    <button type="button" class="btn btn-info btn-sm btn-block">Add Custom</button><br>
	                  </div>
	                </div>
	              </div>
	            </div>
	          </div><!-- /row -->
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div><!-- /row -->

<!-- Starttime/Endtime Modal -->
<div class="modal fade" id="openCloseTimes">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Open/Close Time</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
	  <div class="modal-body">
	  	<form class="form-horizontal" method="post">
        {% csrf_token %}
          <input type="hidden" name="form-type" value="startEndTime" />
        <div class="form-group row">
	      <label class="col-form-label col-lg-3" for="usr">Open Time:</label>
	      <div class="col-lg-9">
	        <input type="text" class="form-control" id="usr" placeholder="8:00">
	      </div>
	    </div>
	    <div class="form-group row">
	      <label class="col-form-label col-lg-3" for="usr">Close Time:</label>
	      <div class="col-lg-9">
	        <input type="text" class="form-control" id="usr" placeholder="17:00">
	      </div>
	    </div>
      </div>  

      <!-- Modal footer --> 
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info">Update Times</button>
      </div>
      </form> 
    </div>
  </div>
</div>
<!--
		  <form class="form-horizontal">
		    <div class="form-group row">
		      <label class="col-form-label col-lg-3" for="usr">Open Time:</label>
		      <div class="col-lg-9">
		        <input type="text" class="form-control" id="usr" placeholder="8:00">
		      </div>
		    </div>
		    <div class="form-group row">
		      <label class="col-form-label col-lg-3" for="usr">Close Time:</label>
		      <div class="col-lg-9">
		        <input type="text" class="form-control" id="usr" placeholder="17:00">
		      </div>
		    </div>
		    <div class="form-group row">
		      <div class="offset-4 col-4">
		        <button type="button" class="btn btn-info btn-lg btn-block">Update</button>
		      </div>
		    </div>
		  </form>
	  </div>

      <!-- Modal footer
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>   
    </div>
  </div>
</div>-->

<!-- Daily Unavailable Times Modal -->
<div class="modal fade" id="dailyUnavailable">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Daily Unavailable Time</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
	  <div class="modal-body">
		  <form class="form-horizontal">
		    <div class="form-group row">
		      <label class="col-form-label col-lg-3" for="usr">Open Time:</label>
		      <div class="col-lg-9">
		        <input type="text" class="form-control" id="usr" placeholder="8:00">
		      </div>
		    </div>
		    <div class="form-group row">
		      <label class="col-form-label col-lg-3" for="usr">Close Time:</label>
		      <div class="col-lg-9">
		        <input type="text" class="form-control" id="usr" placeholder="17:00">
		      </div>
		    </div>
		    <div class="form-group row">
		      <div class="offset-4 col-4">
		        <button type="button" class="btn btn-info btn-lg btn-block">Add</button>
		      </div>
		    </div>
		  </form>
	  </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>   
    </div>
  </div>
</div>

<script>

$(".appointment").click(function() {
	//alert($('input[name=data-name]').val());
    var name = $(this).children("input[name='data-name']").val();
    var phone = $(this).children("input[name='data-phone']").val();
    var email = $(this).children("input[name='data-email']").val();
    var details = $(this).children("input[name='data-details']").val();
    var date = $(this).children("input[name='data-date']").val();

    $("#customerName").html(name);
    $("#customerPhone").html(phone);
    $("#customerEmail").html(email);
    $("#customerDetails").html(details);
    $("#viewerSelectName").html(name);
    $("#viewerSelectEmail").html(email);
    $("#deleteForm").children("input[name='date']").val(date);
    $("#deleteForm").children("input[name='email']").val(email);

});

$(document).ready(function(){
    $("#newbutton").click(function(){
        $("#delete").toggle();
    });

    $('.closer').click(function() {
        $('#delete').hide();
    });
});

</script>
{% endblock %}