{% extends "customer/base.html" %}
{% load widget_tweaks %}

{% block body %}
{{ aBegin }}
<div class="row">
  <div class="col-lg-4">
    <div class="card" style="max-height: 580px; overflow-y:scroll;">
      <div class="card-header">
        <h4 class="text-center">Appointment Info</h4>
      </div>
      <div class="card-body">
        <p class="card-text">
          <form method="post" class="form-horizontal">
          {% csrf_token %}

          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}

          {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}

          {% for field in form.visible_fields %}
            <div class="form-group">
              {{ field.label_tag }}

              {% if form.is_bound %}
                {% if field.errors %}
                  {% render_field field class="form-control is-invalid" %}
                  {% for error in field.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field field class="form-control is-valid" %}
                {% endif %}
              {% else %}
                {% render_field field class="form-control" %}
              {% endif %}
            </div>
          {% endfor %}
            <div class="form-group row">
              <div class="offset-2 col-8">
                <button type="submit" class="btn btn-info btn-lg btn-block">Submit</button>
              </div>
            </div>
          </form>
        </p>
      </div>
    </div>
  </div>

  <!-- Calendar View -->
  <div class="col-lg-8 no_padding">
    <div class="container alt-grid">
    <h4 class="text-center">{{ days.0|date:"F"}}</h4>
    <div class="row">
      <div class="col-3 no_padding">
        <div class="row">
          <div class="col no_padding">
          </div>
          <div class="col no_padding">
            <div class="text-center">{{ days.0|date:"D d" }}</div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col no_padding">
            <div class="text-center">{{ days.1|date:"D d" }}</div>
          </div>
          <div class="col no_padding">
            <div class="text-center">{{ days.2|date:"D d" }}</div>
          </div>
          <div class="col no_padding">
            <div class="text-center">{{ days.3|date:"D d" }}</div>
          </div>
          <div class="col no_padding">
            <div class="text-center">{{ days.4|date:"D d" }}</div>
          </div>
          <div class="col no_padding">
            <div class="text-center">{{ days.5|date:"D d" }}</div>
          </div>
          <div class="col no_padding">
            <div class="text-center">{{ days.6|date:"D d" }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="fullGrid" style="max-height: 500px; overflow-y:scroll;">
      <div class="row">
        <div class="col-3 no_padding">
          <div class="row">
            <div class="col no_padding">
              <ul class="timeline">

                <li style="height:29px;"><span><!--{{ employee.starttime }}--> </span></li>
                <!--{% for employee in object_list %}-->
                  <li><span></span></li>
                <!--{% endfor %}-->
                {% for i in times%}
                <li>
                  <td>{{ i|time:"g:i" }}</td>
                </li>
                  {% endfor %}
              </ul>
            </div>
            <div class="col no_padding">
              <div class="text-center">
                {% for x in sun %}
                  <div class="unavailable" style="margin-top: {{ x }}px">
                    <p>Unavailable</p>
                  </div>
                {% endfor %}
                <table class="calendar_grid">
                  {% for i in "x"|ljust:grid %}
                    <tr class="blank_row">
                      <td></td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col no_padding">
              <div class="text-center">
                {% for x in mon %}
                  <div class="unavailable" style="margin-top: {{ x }}px">
                    <p>Unavailable</p>
                  </div>
                {% endfor %}
                <table class="calendar_grid">
                  {% for i in "x"|ljust:grid %}
                    <tr class="blank_row">
                      <td></td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
            <div class="col no_padding">
              <div class="text-center">
                {% for x in tue %}
                  <div class="unavailable" style="margin-top: {{ x }}px">
                    <p>Unavailable</p>
                  </div>
                {% endfor %}
                <table class="calendar_grid">
                  {% for i in "x"|ljust:grid %}
                    <tr class="blank_row">
                      <td></td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
            <div class="col no_padding">
              <div class="text-center">
                {% for x in wed %}
                  <div class="unavailable" style="margin-top: {{ x }}px">
                    <p>Unavailable</p>
                  </div>
                {% endfor %}
                <table class="calendar_grid">
                  {% for i in "x"|ljust:grid %}
                    <tr class="blank_row">
                      <td></td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
            <div class="col no_padding">
              <div class="text-center">
                {% for x in thur %}
                  <div class="unavailable" style="margin-top: {{ x }}px">
                    <p>Unavailable</p>
                  </div>
                {% endfor %}
                <table class="calendar_grid">
                  {% for i in "x"|ljust:grid %}
                    <tr class="blank_row">
                      <td></td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
            <div class="col no_padding">
              <div class="text-center">
                {% for x in fri %}
                  <div class="unavailable" style="margin-top: {{ x }}px">
                    <p>Unavailable</p>
                  </div>
                {% endfor %}
                <table class="calendar_grid">
                  {% for i in "x"|ljust:grid %}
                    <tr class="blank_row">
                      <td></td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
            <div class="col no_padding">
              <div class="text-center">
                {% for x in sat %}
                  <div class="unavailable" style="margin-top: {{ x }}px">
                    <p>Unavailable</p>
                  </div>
                {% endfor %}
                <table class="calendar_grid">
                  {% for i in "x"|ljust:grid %}
                    <tr class="blank_row">
                      <td></td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div> <!-- /row -->




<!-- Appointment Info Modal --
<div class="modal fade" id="appointmentInfo">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header --
      <div class="modal-header">
        <h4 class="modal-title">Enter Appointment Information</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body --
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="col-form-label col-lg-2" for="usr">Name:</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="usr" placeholder="Enter Full Name">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-lg-2" for="phone">Phone:</label>
            <div class="col-lg-10">
              <input type="tel" class="form-control" id="phone" placeholder="###-###-####">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-lg-2" for="email">Email:</label>
            <div class="col-lg-10">
              <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-lg-2" for="pwd">Password:</label>
            <div class="col-lg-10"> 
              <input type="password" class="form-control" id="pwd" placeholder="Enter password">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-lg-2" for="notes">Notes:</label>
            <div class="col-lg-10">
              <textarea class="form-control" rows="5" id="notes"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-4 col-4">
              <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" id="scheduleButton" data-dismiss="modal">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>   
    </div>
  </div>
</div> -->

<!-- Appointment Info Modal --
<div class="modal fade" id="appointmentInfo">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header --
      <div class="modal-header">
        <h4 class="modal-title">Enter Appointment Information</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body --
      <div class="modal-body">
        <form method="post" class="form-horizontal">
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}

        {% for field in form.visible_fields %}
          <div class="form-group">
            {{ field.label_tag }}

            {% if form.is_bound %}
              {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
                {% for error in field.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
              {% else %}
                {% render_field field class="form-control is-valid" %}
              {% endif %}
            {% else %}
              {% render_field field class="form-control" %}
            {% endif %}
          </div>
        {% endfor %}
          <div class="form-group row">
            <div class="offset-4 col-4">
              <button type="submit" class="btn btn-info btn-lg btn-block">Submit</button>
            </div>
          </div>
        </form>
      </div>   
    </div>
  </div>
</div>

<!-- Schedule View Modal --
<div class="modal fade" id="scheduleView">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      <!-- Modal Header --
      <div class="modal-header">
        <h4 class="modal-title">Choose Appointment Time</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body --
      <div class="modal-body">
        <div class="container alt-grid">
          <h5 class="text-center">Variable Month</h5>
          <div class="row">
            <div class="col-3 no_padding">
              <div class="row">
                <div class="col no_padding">
                </div>
                <div class="col no_padding">
                  <div class="text-center">Sun</div>
                </div>
              </div>
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col no_padding">
                  <div class="text-center">Mon</div>
                </div>
                <div class="col no_padding">
                  <div class="text-center">Tues</div>
                </div>
                <div class="col no_padding">
                  <div class="text-center">Wed</div>
                </div>
                <div class="col no_padding">
                  <div class="text-center">Thur</div>
                </div>
                <div class="col no_padding">
                  <div class="text-center">Fri</div>
                </div>
                <div class="col no_padding">
                  <div class="text-center">Sat</div>
                </div>
              </div>
            </div>
          </div>
          <div class="fullGrid" style="max-height: 400px; overflow-y:scroll;">
            <div class="row">
              <div class="col-3 no_padding">
                <div class="row">
                  <div class="col no_padding">
                    <ul class="timeline">
                      <li style="height:29px;"><span><!--{{ employee.starttime }}-- </span></li>
                      <!--{% for employee in object_list %}--
                        <li><span></span></li>
                      <!--{% endfor %}--
                      <li><span>8:30</span></li>
                      <li><span>9:00</span></li>
                      <li><span>9:30</span></li>
                      <li><span>10:00</span></li>
                      <li><span>10:30</span></li>
                      <li><span>11:00</span></li>
                      <li><span>11:30</span></li>
                      <li><span>12:00</span></li>
                      <li><span>12:30</span></li>
                      <li><span>13:00</span></li>
                      <li><span>13:30</span></li>
                      <li><span>14:00</span></li>
                      <li><span>14:30</span></li>
                      <li><span>15:00</span></li>
                      <li><span>15:30</span></li>
                      <li><span>16:00</span></li>
                      <li><span>16:30</span></li>
                      <li><span>17:00</span></li>
                      <li><span>17:30</span></li>
                      <li><span>18:00</span></li>
                    </ul>
                  </div>
                  <div class="col no_padding">
                    <div class="text-center">
                      <div class="appointment">
                        <p>Michael <br>Wiltbank</p>
                      </div>
                      <table class="calendar_grid">
                        {% for i in "x"|ljust:"20" %}
                          <tr class="blank_row">
                            <td></td>
                          </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-9">
                <div class="row">
                  <div class="col no_padding">
                    <div class="text-center">
                      <div class="unavailable">
                        <p>Unavailable</p>
                      </div>
                      <table class="calendar_grid">
                        {% for i in "x"|ljust:"20" %}
                          <tr class="blank_row">
                            <td></td>
                          </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                  <div class="col no_padding">
                    <div class="text-center">
                      <div class="unavailable">
                        <p>Unavailable</p>
                      </div>
                      <table class="calendar_grid">
                        {% for i in "x"|ljust:"20" %}
                          <tr class="blank_row">
                            <td></td>
                          </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                  <div class="col no_padding">
                    <div class="text-center">
                      <table class="calendar_grid">
                        {% for i in "x"|ljust:"20" %}
                          <tr class="blank_row">
                            <td></td>
                          </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                  <div class="col no_padding">
                    <div class="text-center">
                      <table class="calendar_grid">
                        {% for i in "x"|ljust:"20" %}
                          <tr class="blank_row">
                            <td></td>
                          </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                  <div class="col no_padding">
                    <div class="text-center">
                      <table class="calendar_grid">
                        {% for i in "x"|ljust:"20" %}
                          <tr class="blank_row">
                            <td></td>
                          </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                  <div class="col no_padding">
                    <div class="text-center">
                      <table class="calendar_grid">
                        {% for i in "x"|ljust:"20" %}
                          <tr class="blank_row">
                            <td></td>
                          </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="offset-xl-5 offset-lg-4 offset-5">
            <a href="#" class="btn btn-info btn-primary">Schedule Appointment</a>
          </div>
        </div>
      </div>   
    </div>
  </div>
</div>

<div id="schedule" style="display:none;">
  <div class="alert alert-info behindeverything" style="max-height: 700px; overflow-y:scroll;">
    <h3 class="closer">&times;</h3>

    <div class="container alt-grid">
    <h5 class="text-center">Variable Month</h5>
    <div class="row">
      <div class="col-3 no_padding">
        <div class="row">
          <div class="col no_padding">
          </div>
          <div class="col no_padding">
            <div class="text-center">Sun</div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col no_padding">
            <div class="text-center">Mon</div>
          </div>
          <div class="col no_padding">
            <div class="text-center">Tues</div>
          </div>
          <div class="col no_padding">
            <div class="text-center">Wed</div>
          </div>
          <div class="col no_padding">
            <div class="text-center">Thur</div>
          </div>
          <div class="col no_padding">
            <div class="text-center">Fri</div>
          </div>
          <div class="col no_padding">
            <div class="text-center">Sat</div>
          </div>
        </div>
      </div>
    </div>
    <div class="fullGrid" style="max-height: 400px; overflow-y:scroll;">
      <div class="row">
        <div class="col-3 no_padding">
          <div class="row">
            <div class="col no_padding">
              <ul class="timeline">
                <li style="height:29px;"><span><!--{{ employee.starttime }}--> </span></li>
                <!--{% for employee in object_list %}--
                  <li><span></span></li>
                <!--{% endfor %}--
                <li><span>8:30</span></li>
                <li><span>9:00</span></li>
                <li><span>9:30</span></li>
                <li><span>10:00</span></li>
                <li><span>10:30</span></li>
                <li><span>11:00</span></li>
                <li><span>11:30</span></li>
                <li><span>12:00</span></li>
                <li><span>12:30</span></li>
                <li><span>13:00</span></li>
                <li><span>13:30</span></li>
                <li><span>14:00</span></li>
                <li><span>14:30</span></li>
                <li><span>15:00</span></li>
                <li><span>15:30</span></li>
                <li><span>16:00</span></li>
                <li><span>16:30</span></li>
                <li><span>17:00</span></li>
                <li><span>17:30</span></li>
                <li><span>18:00</span></li>
              </ul>
            </div>
            <div class="col no_padding">
              <div class="text-center">
                <div class="appointment">
                  <p>Michael <br>Wiltbank</p>
                </div>
                <table class="calendar_grid">
                  {% for i in "x"|ljust:"20" %}
                    <tr class="blank_row">
                      <td></td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col no_padding">
              <div class="text-center">
                <div class="unavailable">
                  <p>Unavailable</p>
                </div>
                <table class="calendar_grid">
                  {% for i in "x"|ljust:"20" %}
                    <tr class="blank_row">
                      <td></td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
            <div class="col no_padding">
              <div class="text-center">
                <div class="unavailable">
                  <p>Unavailable</p>
                </div>
                <table class="calendar_grid">
                  {% for i in "x"|ljust:"20" %}
                    <tr class="blank_row">
                      <td></td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
            <div class="col no_padding">
              <div class="text-center">
                <table class="calendar_grid">
                  {% for i in "x"|ljust:"20" %}
                    <tr class="blank_row">
                      <td></td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
            <div class="col no_padding">
              <div class="text-center">
                <table class="calendar_grid">
                  {% for i in "x"|ljust:"20" %}
                    <tr class="blank_row">
                      <td></td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
            <div class="col no_padding">
              <div class="text-center">
                <table class="calendar_grid">
                  {% for i in "x"|ljust:"20" %}
                    <tr class="blank_row">
                      <td></td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
            <div class="col no_padding">
              <div class="text-center">
                <table class="calendar_grid">
                  {% for i in "x"|ljust:"20" %}
                    <tr class="blank_row">
                      <td></td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/alert--
</div>
-->
<script>
$(document).ready(function(){
    $("#scheduleButton").click(function(){
        $("#schedule").show();
        $("#mainButton").hide();
    });

    $('.closer').click(function() {
        $('#schedule').hide();
        $('#mainButton').show();
    });
});

</script>

{% endblock %}