{% extends "customer/base.html" %}
{% load widget_tweaks %}

{% block body %}
<div id="mainButton">
  <h2 class="text-center">Beauty Salon</h2>
  <div class="row">
    <div class="offset-4 col-4">
      <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#appointmentInfo">
        Schedule Appointment
      </button>
    </div>
  </div>
</div>

<!-- Appointment Info Modal --
<div class="modal fade" id="appointmentInfo">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header --
      <div class="modal-header">
        <h4 class="modal-title">Enter Appointment Information</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body --
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="col-form-label col-lg-2" for="usr">Name:</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="usr" placeholder="Enter Full Name">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-lg-2" for="phone">Phone:</label>
            <div class="col-lg-10">
              <input type="tel" class="form-control" id="phone" placeholder="###-###-####">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-lg-2" for="email">Email:</label>
            <div class="col-lg-10">
              <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-lg-2" for="pwd">Password:</label>
            <div class="col-lg-10"> 
              <input type="password" class="form-control" id="pwd" placeholder="Enter password">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-lg-2" for="notes">Notes:</label>
            <div class="col-lg-10">
              <textarea class="form-control" rows="5" id="notes"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-4 col-4">
              <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" id="scheduleButton" data-dismiss="modal">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>   
    </div>
  </div>
</div> -->

<!-- Appointment Info Modal -->
<div class="modal fade" id="appointmentInfo">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select Stylist</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
          {% for i in employees%}
            {% if i.full_name %}
              <div class="offset-2 col-8">
                <a href="{% url 'Calendar View' id=i.id %}"><button type="submit" class="btn btn-info btn-lg btn-block">{{ i.full_name }}</button></a>
              </div><br>
            {% endif %}
          {% endfor %}
      </div>   
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $("#scheduleButton").click(function(){
        $("#schedule").show();
        $("#mainButton").hide();
    });

    $('.closer').click(function() {
        $('#schedule').hide();
        $('#mainButton').show();
    });
});

</script>

{% endblock %}