{% extends "customer/base.html" %}
{% load widget_tweaks %}

{% block body %}
<div id="mainButton">
  <h2 class="text-center">Beauty Salon</h2>
  <div class="row">
    <div class="offset-4 col-4">
      <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#appointmentInfo">
        Schedule Appointment
      </button>
    </div>
  </div>
</div>

<!-- Appointment Info Modal -->
<div class="modal fade" id="appointmentInfo">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select Stylist</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
          {% for i in employees%}
            {% if i.full_name %}
              <div class="offset-2 col-8">
                <a href="{% url 'Calendar View' id=i.id %}"><button type="submit" class="btn btn-info btn-lg btn-block">{{ i.full_name }}</button></a>
              </div><br>
            {% endif %}
          {% endfor %}
      </div>   
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $("#scheduleButton").click(function(){
        $("#schedule").show();
        $("#mainButton").hide();
    });

    $('.closer').click(function() {
        $('#schedule').hide();
        $('#mainButton').show();
    });
});

</script>

{% endblock %}