{% extends "customer/base.html" %}
{% load widget_tweaks %}

{% block body %}
<div id="calendarSection">
  <h4 class="text-center">Select A Start Time</h4>

  <div class="row">
    <div class="col-lg-1"></div>
    <!-- Calendar View -->
    <div class="col-lg-10 no_padding">
      <div class="container alt-grid">
      <a href="{% url 'Calendar View' eid=eid duration=dur weekstart=days.8|date:'Y-m-d' %}"><h2 style="float:right">></h2></a>
      <a href="{% url 'Calendar View' eid=eid duration=dur weekstart=days.0|date:'Y-m-d' %}"><h2 style="float:left"><</h2></a>
      <h2 class="text-center">{{ days.1|date:"F"}}</h2>
      <div class="row">
        <div class="col-3 no_padding">
          <div class="row">
            <div class="col no_padding">
            </div>
            <div class="col no_padding">
              <div class="text-center">{{ days.1|date:"D d" }}</div>
            </div>
          </div>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col no_padding">
              <div class="text-center">{{ days.2|date:"D d" }}</div>
            </div>
            <div class="col no_padding">
              <div class="text-center">{{ days.3|date:"D d" }}</div>
            </div>
            <div class="col no_padding">
              <div class="text-center">{{ days.4|date:"D d" }}</div>
            </div>
            <div class="col no_padding">
              <div class="text-center">{{ days.5|date:"D d" }}</div>
            </div>
            <div class="col no_padding">
              <div class="text-center">{{ days.6|date:"D d" }}</div>
            </div>
            <div class="col no_padding">
              <div class="text-center">{{ days.7|date:"D d" }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="fullGrid" style="max-height: 500px; overflow-y:scroll;">
        <div class="row">
          <div class="col-3 no_padding">
            <div class="row">
              <div class="col no_padding">
                <ul class="timeline">
                  <li style="height:29px;"></li>
                  {% for i in times %}
                    {% if forloop.first %}  
                      <div id="startHour">
                        <input type="hidden" name="start-hour" value="{{ i|time:'g' }}" />
                        <input type="hidden" name="start-minute" value="{{ i|time:'i' }}" />
                      </div>
                    {% endif %}
                  <li>
                    <td>{{ i|time:"g:i" }}</td>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col no_padding">
                <div class="text-center">
                  {% for x in sun %}
                    <div class="unavailable" style="margin-top: {{ x.aBegin }}px; height: {{  x.duration }}px;">
                      <p>Unavailable</p>
                    </div>
                  {% endfor %}
                  <table class="calendar_grid">
                    {% for i in "x"|ljust:grid %}
                      <tr class="blank_row newStart" data-toggle="modal" data-target="#confirmInfo">
                        <td></td>
                        <input type="hidden" name="count" value="{{ forloop.counter }}" />
                        <input type="hidden" name="date" value="{{ days.1|date:'Y-m-d' }}" />
                        <input type="hidden" name="printDate" value="{{ days.1|date:'l M d, Y' }}" />
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-9">
            <div class="row">
              <div class="col no_padding">
                <div class="text-center">
                  {% for x in mon %}
                    <div class="unavailable" style="margin-top: {{ x.aBegin }}px; height: {{  x.duration }}px;">
                      <p>Unavailable</p>
                    </div>
                  {% endfor %}
                  <table class="calendar_grid">
                    {% for i in "x"|ljust:grid %}
                      <tr class="blank_row newStart" data-toggle="modal" data-target="#confirmInfo">
                        <td></td>
                        <input type="hidden" name="count" value="{{ forloop.counter }}" />
                        <input type="hidden" name="date" value="{{ days.2|date:'Y-m-d' }}" />
                        <input type="hidden" name="printDate" value="{{ days.2|date:'l M d, Y' }}" />
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <div class="col no_padding">
                <div class="text-center">
                  {% for x in tue %}
                    <div class="unavailable" style="margin-top: {{ x.aBegin }}px; height: {{  x.duration }}px;">
                      <p>Unavailable</p>
                    </div>
                  {% endfor %}
                  <table class="calendar_grid">
                    {% for i in "x"|ljust:grid %}
                      <tr class="blank_row newStart" data-toggle="modal" data-target="#confirmInfo">
                        <td></td>
                        <input type="hidden" name="count" value="{{ forloop.counter }}" />
                        <input type="hidden" name="date" value="{{ days.3|date:'Y-m-d' }}" />
                        <input type="hidden" name="printDate" value="{{ days.3|date:'l M d, Y' }}" />
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <div class="col no_padding">
                <div class="text-center">
                  {% for x in wed %}
                    <div class="unavailable" style="margin-top: {{ x.aBegin }}px; height: {{  x.duration }}px;">
                      <p>Unavailable</p>
                    </div>
                  {% endfor %}
                  <table class="calendar_grid">
                    {% for i in "x"|ljust:grid %}
                      <tr class="blank_row newStart" data-toggle="modal" data-target="#confirmInfo">
                        <td></td>
                        <input type="hidden" name="count" value="{{ forloop.counter }}" />
                        <input type="hidden" name="date" value="{{ days.4|date:'Y-m-d' }}" />
                        <input type="hidden" name="printDate" value="{{ days.4|date:'l M d, Y' }}" />
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <div class="col no_padding">
                <div class="text-center">
                  {% for x in thur %}
                    <div class="unavailable" style="margin-top: {{ x.aBegin }}px; height: {{  x.duration }}px;">
                      <p>Unavailable</p>
                    </div>
                  {% endfor %}
                  <table class="calendar_grid">
                    {% for i in "x"|ljust:grid %}
                      <tr class="blank_row newStart" data-toggle="modal" data-target="#confirmInfo">
                        <td></td>
                        <input type="hidden" name="count" value="{{ forloop.counter }}" />
                        <input type="hidden" name="date" value="{{ days.5|date:'Y-m-d' }}" />
                        <input type="hidden" name="printDate" value="{{ days.5|date:'l M d, Y' }}" />
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <div class="col no_padding">
                <div class="text-center">
                  {% for x in fri %}
                    <div class="unavailable" style="margin-top: {{ x.aBegin }}px; height: {{  x.duration }}px;">
                      <p>Unavailable</p>
                    </div>
                  {% endfor %}
                  <table class="calendar_grid">
                    {% for i in "x"|ljust:grid %}
                      <tr class="blank_row newStart" data-toggle="modal" data-target="#confirmInfo">
                        <td></td>
                        <input type="hidden" name="count" value="{{ forloop.counter }}" />
                        <input type="hidden" name="date" value="{{ days.6|date:'Y-m-d' }}" />
                        <input type="hidden" name="printDate" value="{{ days.6|date:'l M d, Y' }}" />
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <div class="col no_padding">
                <div class="text-center">
                  {% for x in sat %}
                    <div class="unavailable" style="margin-top: {{ x.aBegin }}px; height: {{  x.duration }}px;">
                      <p>Unavailable</p>
                    </div>
                  {% endfor %}
                  <table class="calendar_grid">
                    {% for i in "x"|ljust:grid %}
                      <tr class="blank_row newStart" data-toggle="modal" data-target="#confirmInfo">
                        <td></td>
                        <input type="hidden" name="count" value="{{ forloop.counter }}" />
                        <input type="hidden" name="date" value="{{ days.7|date:'Y-m-d' }}" />
                        <input type="hidden" name="printDate" value="{{ days.7|date:'l M d, Y' }}" />
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div> <!-- /row -->
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmInfo">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header commitInfo">
        <h4 class="modal-title text-center">Confirm Selection</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <span id="appointmentDate"></span><br>
        <span id="appointmentTime"></span><br>

        <form method="post">
        {% csrf_token %}
        <div id="finalForm">
          <input type="hidden" name="date" value="" />
          <input type="hidden" name="starttime" value="" />
          <input type="hidden" name="endtime" value="" />
          <input type="hidden" name="duration" value="{{ dur }}" />
        </div>
      </div>

      <!-- Modal footer --> 
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info commitInfo">Commit</button>
      </div>
      </form>  
    </div>
  </div>
</div>


<script>

$(".newStart").click(function() {
  //alert($(this).children("input[name='day']").val());
  var iteration = $(this).children("input[name='count']").val();
  var aDate = $(this).children("input[name='date']").val();
  var printDate = $(this).children("input[name='printDate']").val();
  var hour = $("#startHour").children("input[name='start-hour']").val();
  var minute = $("#startHour").children("input[name='start-minute']").val();
  var duration = {{ dur }}//$("#appointmentDuration").text();
  adjust = parseInt(iteration);
  hour = (hour - 1) + (adjust*.5);
  thirty = adjust % 2;
  if (thirty == 1) {
    hour = hour + .5;
    minute = 0;
  }
  else {
    minute = 3;
  }
  var beginTime = hour + ":" + minute + "0";
  if (parseInt(hour) >= 12) {
    if (hour == 12) {
      var printTime = hour + ":" + minute + "0 PM";
    }
    else {
      var printTime = parseInt(hour) - 12 + ":" + minute + "0 PM";
    }
  }
  else {
    var printTime = hour + ":" + minute + "0 AM";
  }

  var adjustMinute = (parseInt(duration) / 40) % 2;
  var adjustHour =  (parseInt(duration)) / 80;
  if (adjustMinute != 0) {
    if (minute == 3) {
      hour = parseInt(hour) + 1;
      minute = 0;
    }
    else {
      minute = 3;
    }
  }
  hour = parseInt(hour) + parseInt(adjustHour);
  var endTime = hour + ":" + minute + "0";
  $("#appointmentTime").html("Appointment Time: <strong>" + printTime + "</strong>");
  $("#appointmentDate").html("Appointment Date: <strong>" + printDate + "</strong>");
  $("#finalForm").children("input[name='date']").val(aDate);
  $("#finalForm").children("input[name='starttime']").val(beginTime);
  $("#finalForm").children("input[name='endtime']").val(endTime);
  $(".commitInfo").show();
  ready = true;
  if ("{{ days.1|date:'Y-m-d' }}" == aDate) {
    {% for x in sun %}
      if( parseInt("{{ x.starttime|time:'H' }}") <= hour && hour <= parseInt("{{ x.endtime|time:'H' }}")) {
        if( "{{ x.starttime|time:'H' }}" == hour &&  parseInt(minute + "0") <= parseInt("{{ x.starttime|time:'i' }}")) {
          // Do nothing
        }
        else {
          ready = false;
        }
      }
    {% endfor %}
  }
  if ("{{ days.2|date:'Y-m-d' }}" == aDate) {
    {% for x in mon %}
      if( parseInt("{{ x.starttime|time:'H' }}") <= hour && hour <= parseInt("{{ x.endtime|time:'H' }}")) {
        if( "{{ x.starttime|time:'H' }}" == hour &&  parseInt(minute + "0") <= parseInt("{{ x.starttime|time:'i' }}")) {
          // Do nothing
        }
        else {
          ready = false;
        }
      }
    {% endfor %}
  }
  if ("{{ days.3|date:'Y-m-d' }}" == aDate) {
    {% for x in tue %}
      if( parseInt("{{ x.starttime|time:'H' }}") <= hour && hour <= parseInt("{{ x.endtime|time:'H' }}")) {
        if( "{{ x.starttime|time:'H' }}" == hour &&  parseInt(minute + "0") <= parseInt("{{ x.starttime|time:'i' }}")) {
          // Do nothing
        }
        else {
          ready = false;
        }
      }
    {% endfor %}
  }
  if ("{{ days.4|date:'Y-m-d' }}" == aDate) {
    {% for x in wed %}
      if( parseInt("{{ x.starttime|time:'H' }}") <= hour && hour <= parseInt("{{ x.endtime|time:'H' }}")) {
        if( "{{ x.starttime|time:'H' }}" == hour &&  parseInt(minute + "0") <= parseInt("{{ x.starttime|time:'i' }}")) {
          // Do nothing
        }
        else {
          ready = false;
        }
      }
    {% endfor %}
  }
  if ("{{ days.5|date:'Y-m-d' }}" == aDate) {
    {% for x in thur %}
      if( parseInt("{{ x.starttime|time:'H' }}") <= hour && hour <= parseInt("{{ x.endtime|time:'H' }}")) {
        if( "{{ x.starttime|time:'H' }}" == hour &&  parseInt(minute + "0") <= parseInt("{{ x.starttime|time:'i' }}")) {
          // Do nothing
        }
        else {
          ready = false;
        }
      }
    {% endfor %}
  }
  if ("{{ days.6|date:'Y-m-d' }}" == aDate) {
    {% for x in fri %}
      if( parseInt("{{ x.starttime|time:'H' }}") <= hour && hour <= parseInt("{{ x.endtime|time:'H' }}")) {
        if( "{{ x.starttime|time:'H' }}" == hour &&  parseInt(minute + "0") <= parseInt("{{ x.starttime|time:'i' }}")) {
          // Do nothing
        }
        else {
          ready = false;
        }
      }
    {% endfor %}
  }
  if ("{{ days.7|date:'Y-m-d' }}" == aDate) {
    {% for x in sat %}
      if( parseInt("{{ x.starttime|time:'H' }}") <= hour && hour <= parseInt("{{ x.endtime|time:'H' }}")) {
        if( "{{ x.starttime|time:'H' }}" == hour &&  parseInt(minute + "0") <= parseInt("{{ x.starttime|time:'i' }}")) {
          // Do nothing
        }
        else {
          ready = false;
        }
      }
    {% endfor %}
  }
  if (!ready) {
    $("#appointmentDate").html("<div class='text-center' style='color:red; font-weight:bold;'>Appointment End Time Conflicts!</div>");
    $("#appointmentTime").html("Choose a new start time or choose a new appointment type.");
    $(".commitInfo").hide();
  }

});

</script>

{% endblock %}